<nav>
<ul>
  <li>
    <%= link_to "Create Garden", new_garden_path%>
  </li>
</ul>
</nav>
<h1>gardens index sdfdf</h1>
<%= signed_in?%>

<% @gardens.each do |garden|%>
  <li><%= garden.name%></li>
<% end %>
