<h1>Gardens Index Page</h1>
<%= link_to "Create New Garden", new_user_garden_path%>
<ul>
<% @gardens.each do |g|%>
  <li>
    <%=link_to g.name, user_garden_path(current_user, g) %>
  </li>
<% end %>
</ul>

<h2>Links:</h2>
<p><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </p>