/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 2.5em 0;
  padding: 0 2em;
  font-family: nunito;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: radial-gradient(
    circle at top left,
    rgb(69, 254, 143),
    rgb(36, 235, 189),
    rgb(0, 199, 90)
  );
}

div {
  border-radius: 5px;
}

a {
  text-decoration-line: none;
  color: rgba(47, 79, 79, 0.8);
  padding: 0 0.5em;
}

a:hover {
  /* font-weight: bold; */
  color: rgba(47, 79, 79);
  background-color: rgb(120, 253, 180);
  border: none;
  border-radius: 20px;
  transition: 0.3s;
}

ul {
  list-style: none;
  padding: 0;
}

h1 small a {
  font-size: smaller;
  float: right;
  border-radius: 5px;
  margin-top: 6px;
}

h3 {
  margin: 0;
}

button,
input[type="submit"] {
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 77, 0.8);
}

button:hover,
input[type="submit"]:hover {
  transition: 0.3s;
  border-radius: 10px;
  background-color: rgba(255, 255, 77);
}

.garden-data-container {
  margin: 1em 0em;
  padding: 1.5em;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(51, 53, 15, 0.5);
}
